.Mercúrio {
  width: 20px;
}

.Vênus {
  width: 60px;
}

.Terra {
  width: 63px;
}

.Marte {
  width: 40px;
}

.Júpiter {
  width: 200px;
}

.Saturno {
  width: 200px;
}

.Urano {
  width: 90px;
}

.Netuno {
  width: 90px;
}
